

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="5">
    <script src="{{url_for('static', filename='js/jquery-1.11.2.js') }}"></script>
    <script src="{{url_for('static', filename='js/checkData.js') }}"></script>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>{{title}} - {{slogan}}</title>
</head>
<body>
	ID: {{id}} <p>
	{{label_username}}: {{username}} </p><p>
	{{label_mail}}: {{mail}}</p> <p>
	{{label_motto}}: {{motto}}</p><p>
    {{label_credits}}: {{credits}}</p><p>
    {{label_duckets}}: {{duckets}}</p><p>
    <img src="https://www.habbo.com/habbo-imaging/avatarimage?figure={{look}}">
</body>
</html>